{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "prettier"
    ],
    "files": ["*.ts", "*.tsx"],
    "parserOptions": {
      "project": true,
      "tsconfigRootDir": "__dirname"
    },
    "rules": {
        // "no-console": "off"
    }
  }
  